# Activity: Removing Data

## Introduction

In this activity you will practice using Pandas functionality to check for and remove any unwanted data from a dataset.
This activity will cover the following topics:
- Removing columns from a DataFrame
- Removing rows from a DataFrame
- Removing rows based on a condition
- Checking for duplicate data

#### Question 1

Create a `DataFrame` called `df` from the given CSV file `exotic_plants_data.csv`, then drop the column `Type` and assign the result to a new `DataFrame` called `df_no_type`.

In [9]:
ul="https://raw.githubusercontent.com/ddaeducation/datanalytics/main/exotic_plants_data.csv"

In [12]:
data=pd.read_csv(url)
data.head(10)

,Title,Year Released,Rating,Box Office ($M)
0,The Shawshank Redemption,1994,9.3,58.3
1,The Godfather,1972,9.2,246.1
2,The Dark Knight,2008,9.0,1005.0
3,Pulp Fiction,1994,8.9,213.9
4,Schindler's List,1993,8.9,321.3
5,Fight Club,1999,8.8,100.9
6,Forrest Gump,1994,8.8,678.2
7,Inception,2010,8.8,829.9
8,The Matrix,1999,8.7,463.5
9,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,871.5

In [ ]:
import pandas as pd


# Your code here

# your code here

In [ ]:
# Question 1 Grading Checks

assert isinstance(df, pd.DataFrame), 'Have you created a DataFrame named df?'
assert isinstance(df_no_type, pd.DataFrame), 'Have you created a DataFrame named df_no_type?'

#### Question 2

Check the `df` `DataFrame` for any duplicate rows and assign the result to a new `DataFrame` called `df_duplicates`.

In [ ]:
# Your code here

# your code here

In [ ]:
# Question 2 Grading Checks

assert isinstance(df_duplicates, pd.DataFrame), 'Have you created a DataFrame named df_duplicates?'

#### Question 3

Check the `df` `DataFrame` for any duplicate rows based on the `Plant Name` and `Type` columns and assign the result to a new `DataFrame` called `df_plant_type_duplicates`.

In [ ]:
# Your code here

# your code here

In [ ]:
# Question 3 Grading Checks

assert isinstance(df_plant_type_duplicates, pd.DataFrame), 'Have you created a DataFrame named df_duplicates?'

#### Question 4

Create a mask called `clean_mask` that will clean up any duplicates in the `df` DataFrame that have the same `Plant Name` and `Origin` and only keep the most up-to-date duplicate entry.

In [ ]:
# Your code here

# your code here

In [ ]:
# Question 4 Grading Checks

assert isinstance(clean_mask, pd.Series), 'Have you created a Series named clean_mask?'